body {
    font-size: 14px;
    font-family: var(--ff-body);
    color: var(--clr-neutral-800);
}
.text-primary-400{
    color: var(--clr-primary-400);
}
.text-primary-500{
    color: var(--clr-primary-500);
}

.text-neutral-600{
    color: var(--clr-neutral-600);
}
.text-neutral-800{
    color: var(--clr-neutral-800);
}


.fs-12{
    font-size: var(--fs-12) !important;
}
.fs-16{
    font-size: var(--fs-16) !important;
}
.fs-22{
    font-size: var(--fs-22) !important;
}
.bg-neutral-900{
    background: var(--clr-neutral-900);
}
.bg-neutral-500{
    background: var(--clr-neutral-500);
}
.bg-neutral-400{
    background: var(--clr-neutral-400);
}
.bg-neutral-300{
    background: var(--clr-neutral-300);
}
.bg-neutral-200{
    background: var(--clr-neutral-200);
}
.bg-neutral-100{
    background: var(--clr-neutral-100);
}
.ff-primary{
    font-family: var(--ff-primary);
}

.padding-block-main{
    padding: 55px 0;
}
.padding-top-main{
    padding-top: 55px;
}
.padding-bottom-main{
    padding-bottom: 55px;
}

.margin-block-main{
    margin: 55px 0;
}
.margin-top-main{
    padding-top: 55px;
}
.margin-bottom-main{
    padding-bottom: 55px;
}
.margin-bottom-max{
    padding-bottom: 100px;
}